<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Simple page served by node.js</title>
</head>
<body>
    {{>header}}
    {{>footer}}
    

    <form>
        <input type="text">
        <button>Search</button>
    </form>
    <p class="errorMessage"></p>
    <p class="forecastMessage"></p>


    <script src="/js/script.js"></script>
</body>
</html>